<footer>
    <br />
    <br />
    <p>
       POKEMON <br />
       Gotta Catch 'Em All'
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/KrazyPotatooo" target="_blank" class="icon-link"><i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/NoBody.Caress14?mibextid=ZbWKwL" target="_blank" class="icon-link"><i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/krazyypotatoooo/" target="_blank" class="icon-link"><i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; 2023 JohnGadiano.pythonanywhere.com All Rights Reserved
    </p>