{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'collection-add' %}" class="btn btn-outline-primary">Add New Collection</a><br>
  <!-- COLLECTIONS -->
  <section class="collection-container">
    <table class="styled-table">
      <tbody>      
        <tr>
          <th>Trainer Name</th>
          <th>Pokemon Card</th>
          <th>Collection Date</th>
          <th>Action</th>
        </tr>
        {% for collection in collections %}
          <tr>
            <td>{{ collection.trainer.name }}</td>
            <td>{{ collection.card.name }}</td>
            <td>{{ collection.collection_date }}</td>
            <td>
              <a href="collection_list/{{ collection.id }}" >Edit</a> |
              <a href="collection_list/{{ collection.id }}/delete" >Delete</a>
              </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" style="text-align: center;">
              <p>No Collections Found</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section> 
  <div>
    {% include 'includes/pagination.html' %}
  </div> 
{% endblock %}