<!-- pokemon_cards.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}


      <main>
        <!--CARDS-->
        <section class="cards-container">
          <!--PIKACHU-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="electric">
                <div class="card-image" id="electric-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png"
                    alt="Pikachu"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Pikachu</h2>
                  <h2 class="sbs" id="card-number">#0025</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>60</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Electric</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Thunder Shock</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>A mouse-like pokemon.</td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Ground</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Static</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>


          <!--Arceus-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="normal">
                <div class="card-image" id="normal-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/493.png"
                    alt="Suicune"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Arceus</h2>
                  <h2 class="sbs" id="card-number">#0493</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>120</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Normal</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Judgment</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        Shaped the universe.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fighting</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Multitype</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>


          <!--Lugia-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="flying-psychc">
                <div class="card-image" id="flying-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/249.png"
                    alt="Suicune"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Lugia</h2>
                  <h2 class="sbs" id="card-number">#0249</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>106</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Flying and Psychic</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Sky Attack</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        It is primarily silver-white.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Rock</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Pressure Multiscale</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>



          <!--Rayquaza-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="dragon">
                <div class="card-image" id="flying-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/384.png"
                    alt="Rayquaza"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Rayquaza</h2>
                  <h2 class="sbs" id="card-number">#0384</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>105</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Dragon and Flying</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Ancient Power Rock</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        A long, green, serpentine.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fairy</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Air Lock</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>
  
          <!--CHARMELEON-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="fire">
                <div class="card-image" id="fire-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png"
                    alt="Charmeleon"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Charmeleon</h2>
                  <h2 class="sbs" id="card-number">#0005</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>120</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Fire</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Flamethrower</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        It has a barbaric nature.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Water</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Solar Power</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>


          <!--Suicune-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="water">
                <div class="card-image" id="water-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/245.png"
                    alt="Suicune"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Suicune</h2>
                  <h2 class="sbs" id="card-number">#0245</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>100</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Water</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Hydro Pump</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        Embodies spring of water.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Grass</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Pressure</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>
    
          <!--Jigglypuf-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="fairy">
                <div class="card-image" id="fairy-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/039.png"
                    alt="Jigglypuf"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Jigglypuf</h2>
                  <h2 class="sbs" id="card-number">#039</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>115</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Fairy</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Disarming Voice</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        A pink pokemon.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Dark</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Cute Charm</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

  
          <!--CATERPIE-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="grass">
                <div class="card-image" id="grass-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png"
                    alt="Caterpie"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Caterpie</h2>
                  <h2 class="sbs" id="card-number">#0044</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="common-text">Common</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>45</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Grass</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Bug Bite</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        It releases a horrible stench.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fire</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Shield Dust</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>
  
          <!--Pancham-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="fighting">
                <div class="card-image" id="electric-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/674.png"
                    alt="Pancham"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Pancham</h2>
                  <h2 class="sbs" id="card-number">#0674</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Uncommon</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>67</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Fighting</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Circle Throw</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        It chooses a Pangoro.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fairy</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Mold Breaker</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

          
          <!--SQUIRTLE-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="water">
                <div class="card-image" id="water-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png"
                    alt="Squirtle"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Squirtle</h2>
                  <h2 class="sbs" id="card-number">#0063</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>40</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Water</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Bubble</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>A turtle-like pokemon.</td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Grass</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Torrent</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

          <!--MEWTWO-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="psychic">
                <div class="card-image" id="psychic-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png"
                    alt="Mewtwo"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Mewtwo</h2>
                  <h2 class="sbs" id="card-number">#0010</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="uncommon-text">Uncommon</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>150</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Psychic</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Psychic</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        A genetically engineered.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Dark</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Pressure</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

  
          <!--SNORLAX-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="normal">
                <div class="card-image" id="normal-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/143.png"
                    alt="Snorlax"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Snorlax</h2>
                  <h2 class="sbs" id="card-number">#0027</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="uncommon-text">Uncommon</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>140</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Normal</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Body Slam</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>A pokemon that like to sleep.</td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fighting</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Thick Fat</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>
  
          <!--CRYOGONAL-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="ice">
                <div class="card-image" id="ice-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/615.png"
                    alt="Cryogonal"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Cryogonal</h2>
                  <h2 class="sbs" id="card-number">#0615</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>80</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Ice</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Aurora Beam</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        It appear during cold seasons.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fire</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Levitate</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>
  
          <!--EEVEE-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="normal">
                <div class="card-image" id="normal-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/133.png"
                    alt="Eevee"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Eevee</h2>
                  <h2 class="sbs" id="card-number">#0051</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>50</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Normal</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Tackle</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        A fox-like pokemon.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Fighting</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Adaptability</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

          <!--RAIKOU-->
          <div class="card-box">
            <div class="card">
              <div class="card-type" id="electric">
                <div class="card-image" id="electric-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/243.png"
                    alt="Raikou"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">Raikou</h2>
                  <h2 class="sbs" id="card-number">#0243</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="rare-text">Rare</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>90</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>Electric</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>Thunder Fang</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        Embodies speed of lightning.
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>Ground</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>Pressure</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
              </div>
            </div>
          </div>

  
        </section>
      </main>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}