{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--TRAINERS-->
<a href="{% url 'trainer-add' %}" class="btn btn-outline-primary">Add New Trainer</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Trainer Name</th>
          <th>Birthdate</th>
          <th>Location</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        {% for object in object_list %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.birthdate }}</td>
          <td>{{ object.location }}</td>
          <td>{{ object.email}} </td>
          <td>
            <a href="trainer_list/{{ object.id }}" >Edit</a> |
            <a href="trainer_list/{{ object.id }}/delete" >Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <div>
    {% include 'includes/pagination.html' %}
  </div> 
{% endblock %} 
